name: Publish

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

on:
  push:
    branches: [main]
    tags-ignore: [v*]

jobs:
  npm-publish:
    name: npm-publish
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          registry-url: 'https://registry.npmjs.org'
      - run: yarn --frozen-lockfile
      - run: yarn lint
      - run: yarn test
      - run: yarn build
      - name: Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
